.page_body {
  
}

.notification_container_all {
  width: 1200px;
  max-width: 95%;
  min-height: 470px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 15px #888888be;
  background: #ffffff;
  margin-top: 100px;
  direction: rtl;
  /* position: relative; */
}

.notification_title {
  background-color: #352649;
  color: rgb(233, 229, 229);
  display: inline-block;
  font-size: 16pt;
  padding: 14px;
  border-radius: 7px;
  box-shadow: 2px 2px 15px #888888be;
  margin-right: 25px;
  margin-top: 20px;
  width: 180px;
}

.notification_container {
  background-color: white;
  /* position: absolute; */
  top: 100px;
  bottom: 0;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 60px;
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap; 
}