.notification_container_all {
  width: 1200px;
  max-width: 95%;
  min-height: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  box-shadow: 0 0.4rem 1.6rem 0 rgba(0, 0, 0, 0.11);
  border-radius: 0.4rem 0.4rem 0 0;
  border: 1.6px solid #cecdcd;
  background: #ffffff;
  margin-top: 170px;
  direction: rtl;
  /* position: relative; */
}

.notification_title {
  background-color: #352649;
  color: rgb(233, 229, 229);
  display: inline-block;
  font-size: 16pt;
  padding: 14px;
  box-shadow: 0 0.4rem 1.6rem 0 rgba(0, 0, 0, 0.11);
  border-radius: 7px;
  margin-right: 25px;
  margin-top: 20px;
  width: 160px;
}

.notification_container {
  background-color: white;
  top: 100px;
  bottom: 0;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}

.selected_invisible {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: yellow; */
  /* z-index: 100; */
  opacity: 0;
}
