ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  align-items: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}

li a:hover:not(.active):not(#logoLink) {
  text-decoration: underline;
}

.active {
  margin-right: 20px;
  background-color: #4CAF50;
}

#logoLink {
  margin-left: 50px;
}

#logoImage {
  width: 30px;
  height: 30px;
}

#searchBar {
  margin-left: 200px;
}

.rightElement {
  margin-right: 20px;
  margin-left: auto;
}