.profile_photo_container {
  height: 370px;
  width: 370px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #352649;
  position: absolute;
  right: 100px;
  border-radius: 5px;
  position: absolute;
  top: -200px;
  border-radius: 50%;
}

.user_name {
  position: absolute;
  top: 14%;
  right: 500px;
  direction: rtl;
}

#user_username {
  position: absolute;
  top: 66%;
  direction: ltr;
}

.profile_photo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.user_info {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 360px;
  background: white;
  justify-content: flex-end;
  position: relative;
}

.user_about_container {
  direction: rtl;
  font-size: 16pt;
  margin-left: auto;
  margin-right: auto;
  margin-top: 170px;
  margin-bottom: 10px;
  width: 72%;
  display: grid;
  grid-template-columns: 12% 88%;
}

.user_about_container div {
  display: flex;
  align-items: center;
}

.user_about_text {
  font-size: 22pt;
}

.user_about_description {
  min-height: 100px;
  padding: 20px;
  font-size: 14pt;
}

.user_about_button_container {
  width: 350px;
  height: 50px;
  margin-right: 10%;
}

.user_about_button_edit_profile {
  width: 150px;
  height: 50px;
  background: #352649;
  color: white;
  font-family: sahel;
  font-size: 14pt;
  cursor: pointer;
  border: none;
  margin-right: 0px;
}

.user_about_button_edit_profile:hover {
  font-size: 15pt;
  box-shadow: 3px 4px #888888;
}

.user_about_button_my_events {
  width: 150px;
  height: 50px;
  background: #352649;
  color: white;
  font-family: sahel;
  font-size: 14pt;
  cursor: pointer;
  margin-right: 50px;
  border: none;
  margin-right: 50px;
}

.user_about_button_my_events:hover {
  font-size: 15pt;
  box-shadow: 3px 4px #888888;
}

#user_name {
  font-weight: bold;
}

.event_container_all {
  width: 1200px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0 0.4rem 1.6rem 0 rgba(0, 0, 0, 0.11);
  border-radius: 0.4rem 0.4rem 0 0;
  border: 1.6px solid #cecdcd;
  direction: rtl;
  margin-bottom: 20px;
}

.event_container_all_title {
  background-color: #352649;
  color: rgb(233, 229, 229);
  display: inline-block;
  font-size: 16pt;
  padding: 14px;
  border-radius: 5px;
  box-shadow: 0 0.4rem 1.6rem 0 rgba(0, 0, 0, 0.11);
  margin-right: 25px;
  margin-top: 20px;
}
.event_container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 18pt;
}

.event_container p {
  margin-right: 10px;
}

hr {
  margin: 0;
  padding: 0;
  height: 1px;
  height: 2px;
  color: black;
  background-color: black;
}
