.user_event_container {
  overflow: hidden;
  margin-bottom: 30px;
  width: 900px;
  height: 500px;
  display: grid;
  grid-template-rows: 11% 89%;
  border-radius: 5px;
  box-shadow: 2px 2px 15px #888888be;
  direction: ltr;
}

.user_event_title {
  display: flex;
  align-items: center;
  direction: rtl;
  font-size: 20pt;
  background-color: #352649;
}

.user_event_title p {
  padding: 5px;
  margin-right: 2vh;
  color: rgb(233, 229, 229);
}

.user_event_title p:hover {
  color: #4183c4;
}

.user_event_rest {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 100%;
}

.user_event_poster {
  height: 100%;
}

.user_event_poster img {
  width: 100%;
  height: 100%;
}

.user_event_info {
  height: 100%;
  display: flex; 
  flex-direction: column;
  justify-content: space-around;
  background-color: #ffffff;
  direction: rtl;
}
