.about_team{
  width: 100%;
  /* height: 500px; */
  height: auto;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 30% 60% 10%;
  margin-top: 120px;
  margin-bottom: 50px;
  direction: rtl;

  
}
.about_team_text{
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.about_team_image{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#utg-logo{
  width: 400px;
  height: 400px;
  margin-left: 25px;
  /* margin-bottom: 100px; */
}
.team_developer{
  display: flex;
  width: 100%;
  flex-direction: row;
  /* justify-content: flex-start; */
  flex-wrap: wrap;
  /* justify-content: center; */
  /* align-items:center; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
}
.contact_us{
  margin-top: 100px;
  margin-bottom:100px;
  display: grid;
  grid-template-columns: 30% 60% 10%;
  /* direction: rtl; */
}
.fname{
  display: flex;
}
.email{
  display: flex;
}
.phonenumber{
  display: flex;
}
.message_input{
  display: flex;
}
#input_frame{
  width: 700px;
  height: 30px;
  margin-bottom: 10px;
}
.message_input_text{
  width: 700px;
  height: 90px;
  margin-bottom: 10px;
}
.inputs{
  display: flex;
  direction: rtl;
  flex-direction: column;
}
.submit_buttom{
  display: flex;
  widows: 80px;
  height: 20px;
  background-color: #352649;
}
#submit_button{
  display: flex;
  background-color: #352649;
  color: white;
  width: 150px;
  border-radius: 10px;
  height: 70px;
  font-size: 22px;
  margin-top: 50px;
  margin-right:50px;
}
#email-logo{
  width: 400px;
  height: 400px;
  margin-left: 25px;
  margin-bottom: 150px;
}