.staff_box {
  width: 185px;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border: 1.6px solid #cecdcd;
  transition: -webkit-box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  background: #ffffff;
  margin: 14px;
}

.staff_box:hover {
  -webkit-box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.3rem 1.5rem rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.staff_box_image {
  margin-top: 20px;
  width: 150px;
  height: 150px;
}

.staff_box_image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.staff_box_role {
  margin-top: 15px;
  text-align: center;
  font-size: 18pt;
  font-weight: bold;
  color: black;
}

.staff_box_name {
  margin-top: 10px;
  text-align: center;
  font-size: 16pt;
  color: black;
}
