.navbar{
  position: fixed;
  height: 80px;
  width: 100%;
  top: 0px;
  z-index: 1;
  background-color: #352649;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo_container {
  height: 60px;
  width: 60px;
  margin-left: 80px;
}

#logoImage {
  width: 100%;
  height: 100%;
}

.button {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12pt;
}

.active {
  margin-right: 20px;
  background-color: #0095ff;
  border: 1px solid #07c;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 #66bfff;
  margin-left: 20px;
}

:focus {
  outline: 0;
}

.login_logout_buttons {
  width: 18%;
  display: flex;
  justify-content: flex-end;
  /* margin-right: -12%;  */
  /* fix toast propblem */
}

.close{
  float: right;
  cursor: pointer;
  background: grey;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.close:hover{
  background: #0095ff;
}

.my_toast{
  background: red;
}