



.search_bar {
	width: 36%;
  height: 100%;
  display: flex;
	align-items: center;
}

.search {
  outline: none;
  direction: rtl;
}

.search[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
.search::-webkit-search-decoration,
.search::-webkit-search-cancel-button {
	display: none; 
}

.search[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 18px 14px 18px 38px;
  width: 60px;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

/* focus here */
.search[type=search] {
  width: 200px;
	background-color: #fff;
	border-color: #5f4385;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

.search:-moz-placeholder {
	color: #999;
}
.search::-webkit-input-placeholder {
	color: #999;
}

#search_form input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#search_form input[type=search]:hover {
	background-color: #fff;
}

/* focus here */
#search_form input[type=search] {
	width: 700px;
	max-width: 37vw;

	padding-right: 20px;
	color: rgb(102, 102, 102);
	background-color: #fff;
	cursor: auto;
}

#search_form input[type=search]:focus {
	color: black;
}
#search_form input:-moz-placeholder {
	color: transparent;
}
#search_form input::-webkit-input-placeholder {
	color: transparent;
}