.staff_box {
  width: 190px;
  height: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 2px 2px 15px #888888be;
  background: #ffffff;
  margin: 15px;
}

.staff_box_image {
  margin-top: 20px;
  width: 150px;
  height: 150px;
}

.staff_box_image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.staff_box_role {
  margin-top: 15px;
  text-align: center;
  font-size: 18pt;
  font-weight: bold;
}

.staff_box_name {
  margin-top: 10px;
  text-align: center;
  font-size: 16pt;
}