.event_page_info_1 {
  width: 1200px;
  height: 490px;
  max-width: 95%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 63% 37%;
  font-size: 18pt;
}

.event_page_photo_container {
  margin: 8px;
  border-radius: 0.4rem 0.4rem 0 0;
  box-shadow: 0 0.4rem 1.6rem 0 rgba(0, 0, 0, 0.11);
  overflow: hidden;
  border: 1.6px solid #cecdcd;
}

.event_page_photo_container img {
  width: 100%;
  height: 100%;
}

.event_page_info_container {
  margin: 8px;
  display: grid;
  grid-template-rows: 20% 80%;
  overflow: hidden;
}

.event_page_info_container_up {
  color: rgb(233, 229, 229);
  direction: rtl;
  margin-bottom: 6px;
  background-color: #352649;
  border-radius: 0.4rem 0.4rem 0 0;
  box-shadow: 0 0.4rem 1.6rem 0 rgba(0, 0, 0, 0.11);
  display: flex;
  align-items: center;
}

.event_page_info_container_bottom {
  background: #ffffff;
  border-radius: 0.4rem 0.4rem 0 0;
  box-shadow: 0 0.4rem 1.6rem 0 rgba(0, 0, 0, 0.11);
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1.6px solid #cecdcd;
}

.event_page_info_2 {
  width: 1200px;
  min-height: 800px;
  max-width: 95%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 75% 25%;
}

.event_page_about_left {
  margin: 8px;
  background: #ffffff;
  border-radius: 0.4rem 0.4rem 0 0;
  box-shadow: 0 0.4rem 1.6rem 0 rgba(0, 0, 0, 0.11);
  position: relative;
  direction: rtl;
  border: 1.6px solid #cecdcd;
}

.event_page_about_left_description {
  width: 100%;
  height: 680px;
  padding-top: 30px;
}

.event_page_about_left_description_text {
  margin-top: 35px;
  width: 90%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  font-size: 14pt;
  overflow: scroll;
  border-radius: 0.4rem 0.4rem 0 0;
  border: 1.6px solid #cecdcd;
  overflow: auto;
}
.info_showing {
  background-color: #352649;
  color: rgb(233, 229, 229);
  display: inline;
  font-size: 16pt;
  padding: 14px;
  border-radius: 5px;
  box-shadow: 0 0.4rem 1.6rem 0 rgba(0, 0, 0, 0.11);
  margin-right: 25px;
}

.event_page_about_right {
  margin: 8px;
  display: grid;
  grid-template-rows: 50% 50%;
}
.event_page_about_right_up {
  margin-bottom: 10px;
  display: grid;
  grid-template-rows: 77% 23%;
  border-radius: 0.4rem 0.4rem 0 0;
  box-shadow: 0 0.4rem 1.6rem 0 rgba(0, 0, 0, 0.11);
  overflow: hidden;
  border: 1.6px solid #cecdcd;
}

.event_page_about_right_up_map img {
  width: 100%;
  height: 100%;
}

.event_page_about_right_up_title_container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.event_page_about_right_up_title_container p {
  display: block;
  padding: 0;
}

.event_page_about_right_up_location {
  margin: 0 25px 0 0;
  font-size: 16pt;
}

.event_page_about_right_up_title {
  margin: 0 10px 0 0;
  font-size: 24pt;
}

.event_page_about_right_bottom {
  display: grid;
  grid-template-rows: 15% 85%;
  border-radius: 0.4rem 0.4rem 0 0;
  box-shadow: 0 0.4rem 1.6rem 0 rgba(0, 0, 0, 0.11);
  overflow: hidden;
  border: 1.6px solid #cecdcd;
}

.event_page_about_right_bottom_title {
  direction: rtl;
  background-color: #352649;
  display: flex;
  align-items: center;
}

.event_page_about_right_bottom_title p {
  color: rgb(233, 229, 229);
  margin-right: 20px;
  font-size: 18pt;
}

.event_page_about_right_bottom_description {
  background-color: #ffffff;
}

.event_page_info_3 {
  width: 1200px;
  max-width: 95%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 25% 75%;
}

.event_page_users_left {
  margin: 8px;
}

.event_page_users_left_organizer {
  display: grid;
  grid-template-rows: 75% 25%;
  height: 390px;
  width: 100%;
  border-radius: 0.4rem 0.4rem 0 0;
  box-shadow: 0 0.4rem 1.6rem 0 rgba(0, 0, 0, 0.11);
  overflow: hidden;
  border: 1.6px solid #cecdcd;
}

.event_page_users_left_organizer_image img {
  width: 100%;
  height: 100%;
}

.event_page_users_left_organizer_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #ffffff;
}

.event_page_users_left_organizer_info p {
  display: block;
  padding: 0;
}

.event_page_users_left_organizer_info_title {
  margin: 0;
  font-size: 24pt;
  justify-content: center;
  color: black;
}

.event_page_users_left_organizer_info_name {
  font-size: 16pt;
  justify-content: center;
}

.event_page_users_staff_container_full {
  margin: 8px;
  border-radius: 0.4rem 0.4rem 0 0;
  box-shadow: 0 0.4rem 1.6rem 0 rgba(0, 0, 0, 0.11);
  border: 1.6px solid #cecdcd;
  background: #ffffff;
  text-align: right;
  direction: rtl;
  padding-top: 30px;
}

.event_page_users_staff_container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.event_page_info_image_container {
  height: 100%;
  display: grid;
  grid-template-columns: 10% 90%;
}

.event_page_info_image_container_name {
  display: flex;
  align-items: center;
  font-size: 2.6vh;
}

.event_page_info_image_container_image {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 80%;
  height: 80%;
  margin: auto;
}

.event_page_button_container {
  position: absolute;
  padding-right: 10px;
  bottom: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

.event_page_button_container span {
  margin-right: 12px;
  color: #f02917;
}

.event_page_signup_button {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 25px;
  margin-right: 10px;
  font-size: 14pt;
  cursor: pointer;
  background-color: #352649;
  font-family: sahel;
  display: inline;
}

.modal {
  position: relative;
}

.modal_close {
  float: right;
  cursor: pointer;
  background: grey;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  position: absolute;
  top: -65px;
  right: -25px;
}

.modal_close:hover {
  background: #0095ff;
}

.modal_message {
  margin: 40px 30px 60px 100px;
  text-align: center;
  font-size: 14pt;
}

.accept_request {
  text-align: center;
  margin-bottom: 20px;
}

.accept_request button {
  background-color: #0095ff;
  border: 1px solid #07c;
  padding: 10px 20px;
  color: white;
  font-family: sahel;
  font-size: 14pt;
  text-decoration: none;
  cursor: pointer;
}

.accept_request button:hover {
  background: #0066af;
}

.close {
  float: right;
  cursor: pointer;
  background: grey;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.close:hover {
  background: #0095ff;
}
