.user_event_container {
  overflow: hidden;
  margin-bottom: 30px;
  width: 900px;
  height: 480px;
  display: grid;
  grid-template-rows: 11% 89%;
  border: 1.6px solid #cecdcd;
  transition: -webkit-box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  border-radius: 0.4rem 0.4rem 0 0;
  direction: ltr;
  cursor: pointer;
}

.user_event_container:hover {
  -webkit-box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.3rem 1.5rem rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.user_event_title {
  display: flex;
  align-items: center;
  direction: rtl;
  font-size: 20pt;
  background-color: #352649;
}

.user_event_title p {
  padding: 5px;
  margin-right: 2vh;
  color: rgb(233, 229, 229);
}

.user_event_rest {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 100%;
}

.user_event_poster {
  height: 435px;
}

.user_event_poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user_event_info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #ffffff;
  direction: rtl;
  color: black;
}
