.title_holder_container {
  direction: rtl;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 100%;
}

.title_holder_container_name {
  display: flex;
  align-items: center;
  height: 100%;
}

.title_holder_container_image {
  display: flex;
  align-items: center;
  height: 100%;
  display: flex;
  justify-content: center;
}
.title_holder_container_image_fill {
  width: 30px;
  height: 30px;
  overflow: hidden;
}

.title_holder_container_image_fill img {
  width: 100%;
  height: 100%;
}
