.title_holder_container{
  direction: rtl;
  width: 400px;
  max-width: 85%;
  height: 100px;
  max-height: 20%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
}

.title_holder_container_name {
  display: flex;
  align-items: center;
  /* font-size: 20pt; */
  margin-right: -20px;
}

.title_holder_container_image {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 80%;
  height: 80%;
  margin: auto;
  margin-right: 0;  
}