.title_holder_container{
  direction: rtl;
  width: 100%;
  max-width: 85%;
  height: 100%;
  max-height: 20%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
  margin-right: 2%;
}

.title_holder_container_name {
  display: flex;
  align-items: center;
  margin-right: 0;
}

.title_holder_container_image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
  margin-right: 0;  
  padding-left: 10px;
}