.test {
  /* margin-top: 80px; */
  /* width: 100%; */
  position: relative;
  direction: rtl;
  color: white;
  font-size: 48pt; 
  background-image: url("../../images/sky.jpg");

  min-height: 900px; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.test img {
  width: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home_slider {
  width: 1600px;
  max-width: 95%;
  height: 650px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.home_new_events_title {
  width: 1600px;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  direction: rtl;
}

.home_new_events_title p {
  background-color: #352649;
  color: rgb(233, 229, 229);
  display: inline;
  font-size: 20pt;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 15px #888888be;
}
.home_new_events_container {
  width: 1600px;
  max-width: 95%;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 15px #888888be;
  background: #ffffff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}