.welcome_home {
  position: relative;
  direction: rtl;
  color: white;
  font-size: 36pt;
  background-image: url('../../images/sky.jpg');
  min-height: 650px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome_home img {
  width: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.home_slider {
  width: 1200px;
  max-width: 95%;
  height: 650px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.home_new_events_title {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 30px;
  direction: rtl;
}

.home_new_events_title p {
  background-color: #352649;
  color: rgb(233, 229, 229);
  display: inline;
  font-size: 16pt;
  padding: 14px;
  border-radius: 5px;
  box-shadow: 2px 2px 15px #888888be;
  margin-right: 25px;
}
.home_new_events_container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 5px;
  border-radius: 5px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  padding-bottom: 5px;
  box-shadow: none;
  min-height: 350px;
}

.load_more_events {
  width: 1200px;
  max-width: 95%;
  margin-top: 30px;
  margin-bottom: 35px;
  direction: rtl;
  cursor: pointer;
  position: relative;
  text-align: center;
}

.load_more_button {
  display: block;
  color: #352649;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 11pt;
  padding: 15px;
  border: 1px solid rgb(102, 102, 102);
  border-radius: 5px;
  color: rgb(102, 102, 102);
  display: inline;
}

.load_more_button:hover {
  border: 1px solid black;
  color: black;
}

.home_slider_old_events {
  margin-bottom: -20px;
}

.home_page_events_container {
  margin-top: 60px !important;
}
