.two_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.ok_sign {
  position: absolute;
  right: calc(50% - 12px);
  top: 43%;
}

.ok_sign > i {
  font-size: 25px;
  color: green;
}

.create_event_title {
  background-color: #352649;
  display: flex;
  align-items: center;
}

.create_event_title p {
  color: rgb(233, 229, 229);
  font-size: 22pt;
}

.create_event_rest {
  width: 45%;
}
.edit_password {
  margin-top: 50px;
  width: 45%;
  background: yellow;
}
.change_image {
  margin-top: 50px;
  width: 100%;
  border-bottom: 1px solid rgb(160, 160, 160);
  padding-bottom: 30px;
}
.change_image_2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.prof_pic > img {
  height: 100%;
  width: 100%;
}
.prof_pic {
  height: 150px;
  width: 150px;
  margin-right: 40px;
}
.change_button {
  margin-right: 40px;
  font-size: 18px;
  font-weight: 500;
  width: 150px;
  border-radius: 10px;
  height: 60px;
  line-height: 60px;

  text-align: center;
  background: rgb(198, 198, 198);
  cursor: pointer;
}
.change_button:hover {
  background: #858585;
}

.edit_header_font {
  font-size: 18pt;
  font-weight: bold;
}

.create_event_rest_input {
  margin-bottom: 25px;
  padding-right: 10px;
  font-size: 14pt;
  font-family: sahel;
  background: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 60px;
}

.event_time_input_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_text {
  width: 100%;
}

.create_event_input {
  margin-top: 50px;
  font-size: 18pt;
  font-weight: bold;
}

.event_text_area {
  resize: none;
  margin-bottom: 50px;
  font-family: sahel;
  font-size: 14pt;
  width: 100%;
  height: 300px;
}

.create_event_input input:focus {
  border: 1px solid #353535;
}

.event_text_area:focus {
  border: 1px solid #353535;
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.edit_profile_submit {
  margin-top: 20px;
  margin-right: 15px;
}
