.notification_card_container {
  width: 100%;
  height: 100px;
  margin-top: 30px;
  font-size: 16pt;
  box-shadow: 0px 0px 2px;
  direction: rtl;
  overflow: hidden;
  background: #ffffff;
  border: 1.6px solid #cecdcd;
  transition: -webkit-box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
.notification_card_container:hover {
  -webkit-box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.3rem 1.5rem rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.notification_card_container p {
  margin-top: 30px;
  margin-right: 35px;
  margin-bottom: 10px;
}

.notification_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification_button button {
  margin-left: 15px;
  margin-right: 15px;
  background: grey;
  padding: 10px 20px;
  color: white;
  font-family: sahel;
  font-size: 14pt;
  border: none;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 2px;
}
.notification_button #accept_button {
  width: 50px;
  height: 50px;
}

.notification_button #accept_button:hover {
  transform: translateY(4px);
}

.notification_button #reject_button {
  margin-right: 5px;
  width: 50px;
  height: 50px;
}

.notification_button #reject_button:hover {
  background-image: url(/home/mahdi/Desktop/graphlast/UT-Graph-Client/src/images/cancel2.svg);
  transform: translateY(4px);
}

.selected_box {
  border: 3px solid blue;
  box-shadow: 5px 10px 15px #888888;
}

.button_box {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 100%;
}

.off_box {
  opacity: 0.5;
}
