.forget_page {
  background: white;
  background: linear-gradient(to top, white, gray);
  width: 800px;
  max-height: 900px;
  position: relative;
  direction: ltr;
}

.forget_password_p {
  text-align: right;
  margin-top: 10px !important;
  margin-bottom: 3px;
}
