.search_page_container {
  width: 1200px;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 0.4rem 0.4rem 0 0;
  box-shadow: 0 0.4rem 1.6rem 0 rgba(209, 78, 78, 0.11);
  border: 1.6px solid #cecdcd;
  background: #ffffff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 170px;
  margin-bottom: 100px;
}

.search_page_title {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  direction: rtl;
}

.search_page_title a {
  float: left;
  margin-left: 25px;
  border: none;
  cursor: pointer;
}

.search_page_title a:hover {
  border: none;
}

.search_page_title p {
  background-color: #352649;
  color: rgb(233, 229, 229);
  display: inline;
  font-size: 16pt;
  padding: 14px;
  box-shadow: 0 0.4rem 1.6rem 0 rgba(0, 0, 0, 0.11);
  border-radius: 4px;
  margin-right: 25px;
}
