.container {
  width: 100%;
  height: 60px;
  background-color: red;
}

.navbar-profile-pic {
  margin-top: 10px;
  display: inline-block;
}

.navbar-logo {
  margin-top: 10px;
  display: inline-block;
}
.rounded-img {
  border-radius: 50%;
}

.navbar-spacer {
  display: inline-block;
  min-width: 750px;
}
