.my_events_container_all {
  width: 1200px;
  max-width: 95%;
  min-height: 470px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 0.4rem 0.4rem 0 0;
  box-shadow: 0 0.4rem 1.6rem 0 rgba(0, 0, 0, 0.11);
  border-radius: 0.4rem 0.4rem 0 0;
  border: 1.6px solid #cecdcd;
  background: #ffffff;
  margin-top: 100px;
  direction: rtl;
}

.my_events_container_all_title {
  background-color: #352649;
  color: rgb(233, 229, 229);
  display: inline-block;
  font-size: 16pt;
  padding: 14px;
  border-radius: 4px;
  box-shadow: 0 0.4rem 1.6rem 0 rgba(209, 78, 78, 0.11);
  margin-right: 25px;
  margin-top: 20px;
  width: 135px;
  padding-bottom: 17px;
}

.my_events_container {
  width: 90%;
  padding-top: 30px;
  min-height: 300px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.my_events_topbar {
  margin-top: 20px;
  margin-right: 5%;
  width: 90%;
  height: 80px;
  display: flex;
  flex-wrap: nowrap;
}

.my_events_topbar button {
  width: 33%;
  height: 100%;
  background: rgb(211, 211, 211);
  border-radius: 10px 10px 0px 0px;
  border: none;
  opacity: 0.5;
  text-align: center;
  color: black;
}

.my_events_topbar button:active:focus {
  outline-style: none !important;
  border: none !important;
  box-shadow: none !important;
}

.my_events_active {
  opacity: 1 !important;
  border-top: 3px solid rgb(124, 124, 124) !important;
  border-right: 3px solid rgb(124, 124, 124) !important;
  border-left: 3px solid rgb(124, 124, 124) !important;
  width: 38% !important;
}

.my_events_active p {
  font-size: 18pt !important;
  font-weight: bold;
}

.my_events_topbar button {
  font-size: 16pt;
  font-family: sahel;
}
